/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--main-color) !important;
    color: var(--secondary-color) !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

/* my css */

:root {
    --min-font-size: 12px;
}

    :root[theme='light'] {
        --main-color: antiquewhite;
        --border-color: rgba(0, 0, 0, 0.4);
        --secondary-color: rgb(40, 27, 4);
    }

:root[theme='dark'] {
    --main-color: darkslategray;
    --border-color: rgba(250, 210, 132, 0.5);
    --secondary-color: rgb(250, 210, 132);
}

* {
    border-color: var(--border-color);
    color: var(--secondary-color) ;
    background-color: var(--main-color);
}

.border-custom {
    border: 1px solid var(--border-color);
}

.border-top-custom {
    border-top: 1px solid var(--border-color);
}

.border-bottom-custom {
    border-bottom: 1px solid var(--border-color);
    ;
}

svg {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

html {
    font-size: clamp(10px, 1.5vmax, 16px);
}

h6 {
    font-size: clamp(12px, 1.6vmax, 18px);
}

h5 {
    font-size: clamp(14px, 1.7vmax, 20px);
}

h4 {
    font-size: clamp(16px, 1.8vmax, 22px);
}

h3 {
    font-size: clamp(16px, 1.6vmax, 22px);
}

h2 {
    font-size: clamp(18px, 1.8vmax, 24px);
}

h1 {
    font-size: clamp(20px, 2vmax, 26px);
}

.h-60 {
    height: 60%;
}

.h-40 {
    height: 40%;
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.w-50vw{
    width: 50vw;
}

span:hover {
    cursor: default;
}

h5:hover {
    cursor: default;
}

h6:hover {
    cursor: default
}


.square-4 {
    height: clamp(20px, 4vmax, 40px);
    width:  clamp(20px, 4vmax, 40px);
}

.square-25 {
    height: clamp(100px, 25vmax, 240px);
    width: clamp(100px, 25vmax, 240px);
}

.mx-square-40 {
    max-width: clamp(160px, 36vmax, 320px);
    max-height: clamp(160px, 36vmax, 320px);
}

.mx-square-20 {
    max-height: clamp(80px, 20vmax, 195px);
    max-width: clamp(80px, 20vmax, 195px);
}

.mx-square-25 {
    max-height: clamp(100px, 25vmax, 240px);
    max-width: clamp(100px, 25vmax, 240px);
}

.medium-icon {
    height: clamp(20px, 4vmax, 40px);
}

.bigger-icon {
    height: clamp(40px, 6vmax, 55px);
}

.tiny-icon {
    height: clamp(12px, 2vmax, 25px);
}

/* modified bootstrap */

.btn, .btn:focus, .btn:active {
    border: none;
}

.img-fluid{
    background-color:inherit;
}

.btn {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.btn:hover, .btn:hover *{
    color: var(--main-color) ;
    background-color: var(--secondary-color) ;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 0.2rem var(--border-color) ;
}

.text-muted{
    color: var(--secondary-color) ;
    opacity: 0.8;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem var(--border-color) ;
}

/* modified dropzone.css */
.dropzone {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.dz-preview, .dz-preview *{
    background-color: transparent !important;
}

.dz-preview .dz-details, .dz-preview .dz-details * {
    background-color: rgba(105, 105, 105, 0.5);
}

.dz-remove{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    border-radius: 10px;
}

.dz-remove:hover{
    outline: none;
    background-color: var(--border-color);
    color: var(--secondary-color)
}