@model UserVM
<div class="h-100">
    <div class="h-100 w-100 mt-3 d-flex flex-column">
        <div class="border-bottom-custom">
            <div class="col-8 offset-2 text-center">
                <h4 class="d-inline-block w-75">
                    @Model.FirstName @Model.LastName
                </h4>
                <h6>
                    @Model.Username
                </h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center border-bottom-custom">
            <div class="btn-group">
                <a href="#" id="btnGetCollections" class="btn btn-outline-info font-weight-bold ">
                    Collections
                </a>
                <a href="#" id="btnGetItems" class="btn btn-outline-info font-weight-bold">
                    Items
                </a>
            </div>
        </div>
        <div class="mt-2">
            <div id="collections">
                <h5 class="text-center">Collections</h5>
                @{await Html.RenderPartialAsync("_Collections", new ProfileCollectionsVM
                    {
                        AllowEdit = User.IsInRole("admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id.ToString(),
                        Collections = Model.Collections
                    });}
            </div>
            <div id="items">
                <h5 class="text-center">Items</h5>
                @{await Html.RenderPartialAsync("_Items", new ProfileItemsVM
                    {
                        AllowEdit = User.IsInRole("admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id.ToString(),
                        Items = Model.Items
                    }); }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#btnGetCollections').click(e => {
            e.preventDefault();
            $('#items').hide();
            $('#collections').show();
        });
        $('#btnGetItems').click(e => {
            e.preventDefault();
            $('#collections').hide();
            $('#items').show();
        });
        $(() => {
            $('#btnGetCollections').click();
            $('[name=btnDeleteCollection]').click(e => {
                e.preventDefault();
                let link = $(e.target).parents('a');
                let id = link.attr('data-id');
                console.log(id)
                $.post('/api/DeleteCollection', { 'CollectionId': id }, (result) => {
                    if (result.succeed === true)
                        link.parents('[name=collection]').remove()
                    else
                        console.log(result.errors)
                });
            });
            $('[name=btnDeleteItem]').click(e => {
                e.preventDefault();
                let link = $(e.target).parents('a');
                let id = link.attr('data-id');
                console.log(id)
                $.post('/api/DeleteItem', { 'ItemId': id }, (result) => {
                    if (result.succeed === true)
                        link.parents('[name=item]').remove()
                    else
                        console.log(result.errors)
                });
            });
        });
    </script>
}