<div class="d-flex m-auto mt-4">
    <a asp-action="Users" asp-controller="Admin" class="btn border-custom flex-grow-1">
        Users
    </a>
    <a asp-action="Themes" asp-controller="Admin" class="btn border-custom flex-grow-1">
        Themes
    </a>
    <a asp-action="Resources" asp-controller="Admin" class="btn border-custom flex-grow-1">
        Resources
    </a>
</div>