<div class="d-flex flex-column justify-content-start">
    <div>
        <span class="font-weight-bold">Owner: </span>
        <span>item.owner.name</span>
    </div>
    <div>
        <span class="font-weight-bold">Collection: </span>
        <span>Item.Colelction.Name</span>
    </div>
    <div>
        <span class="font-weight-bold">Tags: </span>
        <span>tag tag tag</span>
    </div>
</div>