@model ExternalSignInVM
<div class="col-md-4 offset-md-4 col-6 offset-3 mt-5">
    <div class="border-custom rounded p-2">
        <form asp-action="ExternalSignUp" asp-controller="Account" method="post" class="text-center">
            <div>
                <h5>Sign in as <span class="font-weight-bold">@Model.Username</span></h5>
            </div>
            <button type="submit" class="btn font-weight-bolder">Confirm</button>
        </form>
        <div asp-validation-summary="All">
        </div>
    </div>
</div>