@model ExternalSignInVM
@inject IViewLocalizer localizer

<div class="col-md-4 offset-md-4 col-6 offset-3 mt-5">
    <div class="border-custom rounded p-2">
        <form asp-action="ExternalSignInConfirm" asp-controller="Account" class="text-center">
            <div>
                <h6>@localizer["SignInAs"]</h6>
                <h5 class="font-weight-bold">@Model.Username</h5>
            </div>
            <button type="submit" class="btn font-weight-bolder">@localizer["Confirm"]</button>
        </form>
        <div asp-validation-summary="All">
        </div>
    </div>
</div>