<div class="col-md-4 offset-md-4 col-6 offset-3 mt-5">
    <div class="border-custom rounded p-2">
        <form class="text-center">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"
                       placeholder="Password">
            </div>
            <button type="submit" class="btn font-weight-bolder">Sign in</button>
        </form>
        <div class="border-top-custom mt-1 pt-2 d-flex flex-row justify-content-center">
            <a href="" class="btn p-1 square-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-100 w-100"
                     viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg>
            </a>
            <a href="" class="btn p-1 square-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-100 w-100"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
            </a>
            <a href="" class="btn p-1 square-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 304.36 304.36">
                    <path id="XMLID_807_" fill-rule="evenodd" clip-rule="evenodd" d="M261.945,175.576c10.096,9.857,20.752,19.131,29.807,29.982
		c4,4.822,7.787,9.798,10.684,15.394c4.105,7.955,0.387,16.709-6.746,17.184l-44.34-0.02c-11.436,0.949-20.559-3.655-28.23-11.474
		c-6.139-6.253-11.824-12.908-17.727-19.372c-2.42-2.642-4.953-5.128-7.979-7.093c-6.053-3.929-11.307-2.726-14.766,3.587
		c-3.523,6.421-4.322,13.531-4.668,20.687c-0.475,10.441-3.631,13.186-14.119,13.664c-22.414,1.057-43.686-2.334-63.447-13.641
		c-17.422-9.968-30.932-24.04-42.691-39.971C34.828,153.482,17.295,119.395,1.537,84.353C-2.01,76.458,0.584,72.22,9.295,72.07
		c14.465-0.281,28.928-0.261,43.41-0.02c5.879,0.086,9.771,3.458,12.041,9.012c7.826,19.243,17.402,37.551,29.422,54.521
		c3.201,4.518,6.465,9.036,11.113,12.216c5.142,3.521,9.057,2.354,11.476-3.374c1.535-3.632,2.207-7.544,2.553-11.434
		c1.146-13.383,1.297-26.743-0.713-40.079c-1.234-8.323-5.922-13.711-14.227-15.286c-4.238-0.803-3.607-2.38-1.555-4.799
		c3.564-4.172,6.916-6.769,13.598-6.769h50.111c7.889,1.557,9.641,5.101,10.721,13.039l0.043,55.663
		c-0.086,3.073,1.535,12.192,7.07,14.226c4.43,1.448,7.35-2.096,10.008-4.905c11.998-12.734,20.561-27.783,28.211-43.366
		c3.395-6.852,6.314-13.968,9.143-21.078c2.096-5.276,5.385-7.872,11.328-7.757l48.229,0.043c1.43,0,2.877,0.021,4.262,0.258
		c8.127,1.385,10.354,4.881,7.844,12.817c-3.955,12.451-11.65,22.827-19.174,33.251c-8.043,11.129-16.645,21.877-24.621,33.072
        C252.26,161.544,252.842,166.697,261.945,175.576L261.945,175.576z M261.945,175.576" />
                </svg>
            </a>
        </div>
    </div>
    <div class="text-center mt-5">
        <span class="text-muted align-middle">Have no account?</span>
        <a class="btn font-weight-bold" asp-action="SignUp" asp-controller="Account">
            Sign Up
        </a>
    </div>
</div>