@model IEnumerable<ItemVM>

<div class="w-100 mt-3">
    <h3 class="text-center">Search results</h3>
    <div>
        @if (Model.Count() == 0)
        {
            <span class="font-italic">Can't find anything</span>
        }
        else
        {
            <div class="d-flex flex-row flex-wrap align-items-baseline justify-content-center">
                @foreach (var item in Model)
                {
                    <div class=" m-1 square-25 text-center">
                        <div class="p-2">
                            <a asp-action="Item" asp-controller="Store" asp-route-id="@item.Id" data-placement="bottom" >
                                <img class="img-fluid img-thumbnail"
                                     src="@item.ImageUrl"
                                     alt="picture">
                            </a>
                        </div>
                        <div>
                            <h5>@item.Name</h5>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>